# Core deps
openai
pydantic
pygame
numpy
pyperclip
langchain
langchain-core
pyinstaller
langchain-classic
langchain-community
langchain-openai
google-generativeai

# Optional: Only if you don't want to configure variables in the shell.
# python-dotenv
